[user]
	name = Mateusz K
	email = 24375505+kl4m4@users.noreply.github.com
[core]
	excludesfile = /Users/mkarabela/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[core]
	editor="vim"
[commit]
